<p id="notice"><%= notice %></p>

<h1>Listing Slides</h1>


    <% @slides.each do |slide| %>

        <%= slide.title %>
    <br>


    <%= image_tag slide.slider_image.to_s %>


    <%= slide.slider_content %>
        <%= link_to 'Show', slide %>
        <%= link_to 'Edit', edit_slide_path(slide) %>
        <%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<br>

<%= link_to 'New Slide', new_slide_path %>
