<p id="notice"><%= notice %></p>


<div class="products">
  <h3>Слыйды</h3>
  <table>

    <% @slides.each do |slide| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">

          <td>
          <%= image_tag slide.slider_image.to_s, class: "slide_image_controller" %>
          </td>

          <td class="list_description">
            <dl>
              <dt><%= slide.title %></dt>
              <dd><%= truncate(strip_tags( slide.slider_content), length:100) %></dd>
            </dl>
          </td>

          <td class="list_actions">
            <%= link_to 'Редактировать', edit_slide_path(slide) %><br/>
            <%= link_to 'Стереть', slide, method: :delete, data: {confirm: 'Are you sure?'}%>
          </td>
        </tr>
    <%end%>
  </table>

  <br/>
</div>
<%= link_to 'Новый слайд',  new_slide_path %>


