<p id="notice"><%= notice %></p>

<h4 class="h4_title">Начинки для Торта</h4>




    <% @stuffing_cakes.each do |stuffing_cake| %>
       <div class="stuffing_cake_block">
       <%= image_tag stuffing_cake.image_url.to_s, class: "stuffing_cake_image" %>
       <div class="stuffing_cake_description"> <%= stuffing_cake.description %></div>
       <div class="stuffing_cake_price"><%= stuffing_cake.price %></div>

        <%= link_to 'Edit', edit_stuffing_cake_path(stuffing_cake) %>
        <%= link_to 'Destroy', stuffing_cake, method: :delete, data: { confirm: 'Are you sure?' } %>

       </div>

             <% end %>


<br>

<%= link_to 'New Stuffing cake', new_stuffing_cake_path %>


