<p id="notice"><%= notice %></p>

<h1>Listing Galleries</h1>

<% @galleries.each do |gallery| %>
    <div class="gallery">
          <div class="painting">
            <h4><%= link_to gallery.name, gallery %></h4>


               <% if gallery.paintings.count > 0 %>
            <%= image_tag gallery.paintings.last.image_url(:thumb).to_s  %>
                <%else%>
            <%= image_tag "NoImage_592x444.jpg" %>
                <%end %>
          </div>


          <p><%= link_to 'Edit', edit_gallery_path(gallery) %>
          <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>

          </div>
    <% end %>



<%= link_to 'New Gallery', new_gallery_path %>
