<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery name:</strong>
  <%= @gallery.name %>
</p>

  <% for painting in @gallery.paintings %>
    <div class="gallery">
      <div class="painting">
        <%= image_tag painting.image_url(:thumb) if painting.image? %>
      </div>
      <p>
        <%= link_to "edit", edit_painting_path(painting) %> |
        <%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
     </p>
    </div>
  <% end %>



<p>
  <%= link_to "Add Painting", new_painting_path(:gallery_id => @gallery) %> |
  <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>



<%= link_to 'Edit gallery', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
