<p id="notice"><%= notice %></p>




<div id="store_content">


    <div class="border_title">
        <h1 class="category_main_title"><%= @category.title %></h1>






      </div>




<% @category.cake_categories.each do |sub_category|%>
      <% if sub_category.products.count >= 1%>

      <fieldset>
        <legend>
          <a name="<%=sub_category.id%>"></a>
          <%= sub_category.title%>
        </legend>








      <% sub_category.products.each do |product|%>
            <%if product.product_image.exists?%>
        <%= link_to(product) do %>
            <div class="product_container">
              <div class="product_image_content"> <%= image_tag product.product_image.to_s  %></div>
              <div class="short_bod"> <%= image_tag "sep.png"%></div>
              <h5 class="product_title_style"><%= product.title  %></h5>
            </div>
        <%end%>
        <%end%>
            <%end%>
      </fieldset>

       <div style="clear: both"></div>


<%end%>
<%end%>



</div>

<%= render "layouts/round_blocks"%>