<div class="form_for">
<%= form_for(@cake_category) do |f| %>
  <% if @cake_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cake_category.errors.count, "error") %> prohibited this cake_category from being saved:</h2>

      <ul>
      <% @cake_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <fieldset class="forms_fieldset_style">
        <legend>Новая субкатегория</legend>
       <h4 class="pozor"> Выберите категорию!!!</h4>
      <%= collection_select(:cake_category, :category_id,  Category.order(:title) , :id, :title, include_blank: true )%>

  <div class="field">
    <%= f.label :Название_категории %>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
        </fieldset>
<% end %>
</div>