<div class="form_for">
<%= form_for(@cake_category) do |f| %>
  <% if @cake_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cake_category.errors.count, "error") %> prohibited this cake_category from being saved:</h2>

      <ul>
      <% @cake_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div style="background-color: rgba(255, 0, 0, 0.27)"> <h4 class="pozor"> Выберите категорию!!!</h4>
      <%= select_tag(:category_id, options_for_select(@category), :prompt => "Выбери категорию!", ) %>
        </div>
  <div class="field">
    <%= f.label :название_категории %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>