<div class="form_for" >
<%= form_for(@product, multipart: true) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">

      <% if @product.errors.count == 1 %>
         <h2> <%= @product.errors.count %> Ошибка не позволяют сохранить товар в базу данных </h2>
              <%else%>
          <h2> <%= @product.errors.count %> Ошибки не позволяют сохранить товар в базу данных </h2>
      <%end%>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <fieldset class="forms_fieldset_style">
        <legend>New cake</legend>
      <h4> Выберите категорию!!!</h4>
      <%= collection_select(:product, :cake_category_id,  CakeCategory.order(:title) , :id, :title, include_blank: true )%>

  <div class="field">
    <%= f.label :Название_торта %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Описание %>
    <%= f.text_area :description, rows: 6 %>
  </div>
    <div class="field">
      <%= f.label :Картинка %>
      <p class="pozor">555x800</p>
      <%= f.file_field :product_image %>
    </div>
  <div class="field">
    <%= f.label :Цена %>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
          </fieldset>
<% end %>
</div>
