<div class="form_for" >
<%= form_for(@product, multipart: true) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">

      <% if @product.errors.count == 1 %>
         <h2> <%= @product.errors.count %> Ошибка не позволяют сохранить товар в базу данных </h2>
              <%else%>
          <h2> <%= @product.errors.count %> Ошибки не позволяют сохранить товар в базу данных </h2>
      <%end%>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <div style="background-color: rgba(255, 0, 0, 0.27)"> <h4 class="pozor"> Выберите категорию!!!</h4>
    <%= select_tag(:cake_category_id, options_for_select(@cake_category), :prompt => "Выбери категорию!") %>
     </div>
  <div class="field">
    <%= f.label :Название_торта %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Описание %>
    <%= f.text_area :description, rows: 6 %>
  </div>
    <div class="field">
      <%= f.label :Картинка %>
      <p class="pozor">555x800</p>
      <%= f.file_field :product_image %>
    </div>
  <div class="field">
    <%= f.label :Цена %>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
