
<h3 class="product_id_title">Все торты:</h3>
<%= link_to 'Новый товар ', new_product_path %>
<div class="products">

<table>
  <% @products.each do |product|%>
  <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">

    <td>
      <%= image_tag(product.product_image_url, class: "list_image") %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Просмотр', product %> <br/>
      <%= link_to 'Редактировать', edit_product_path(product) %><br/>
      <%= link_to 'Стереть', product, method: :delete, data: {confirm: 'Are you sure?'}%>
    </td>

  </tr>
      <%end%>
</table>

<br/>

  <br>
</div>
