
<div class="product_id_content">

<p id="notice"><%= notice %></p>




<%= image_tag @product.product_image, class: "product_image" %>

  <div class="product_id_title">
    <%= @product.title %>
  </div>

<div class="cake_description">
  <%= @product.description %>
</div>










  <% if session[:user_id] %>
    <%= link_to 'Back', products_path, class: "atent" %>
<%= link_to 'Edit', edit_product_path(@product),class: "atent" %>
<%end %>
</div>
