
<div class="product_id_content">

<p id="notice"><%= notice %></p>




<%= image_tag @product.product_image, class: "product_image" %>

  <div class="product_id_title">
    <%= @product.title %>
  </div>

<div class="cake_description">
  <%= @product.description %>
</div>


  <div class="cake_ingridients">
    <p class="ingridients_title">Ингридиенты:</p>
    <%= @product.ingridients %>
  </div>







  <% if session[:user_id] %>
    <%= link_to 'Back', products_path %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%end %>
</div>
<h4 class="product_id_price">Цена:<%= @product.price %>/кг</h4>