
<p id="notice"><%= notice %></p>
<div class="product_id_content">

<%= image_tag @product.product_image, class: "product_image" %>

  <div class="product_id_title">
    <%= @product.title %>
  </div>

<div class="cake_description">
  <%= @product.description %>
</div>




  <% if session[:user_id] %>
    <%= link_to 'Back', products_path, class: "atent" %>
<%= link_to 'Edit', edit_product_path(@product),class: "atent" %>
<%end %>

</div>

<div class="products_line_footer">

<h4>Похожие торты:</h4>

    <% @products.each do |product|%>
      <%= link_to(product) do %>
        <div class="product_block_show">
          <%=image_tag product.product_image%>
          <h6><%= product.title%></h6>
        </div>
          <%end%>
      <%end%>


 <div style="clear: both"></div>
  <br>
  <br>
</div>





