
<div id="header_in">
<div id="logo_image">
  <%=link_to image_tag("shaboo_logo_round.jpg"), store_path%>
</div>


  <div id="main_slogan">
    <p>
      Мы можем сделать то, <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      что вы сможете себе представить...

    </p>

  </div>

  <div id="header_contacts">
    <div id="social_s">
      <%= image_tag "fb_icon.png"%>
      <%= image_tag "tv_icon.png"%>
      <%= image_tag "yt_icon.png"%>
      <%= image_tag "in_icon.png"%>
      <div style="clear: both"></div>
    </div>

    <div id="phone_header_block">
     <%= image_tag"contact-icons-buttons-set-envelope-mobile-phone-mail_178327619.png"%> <h2>Тел:753624642</h2>
    </div>

  </div>
  </div>


