
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Cake Catalog</h1>

<% cache ['store', Product.latest] do %>
   <% @products.each do |product| %>
        <%cache ['entry', product] do %>
         <div class="entry">
               <p class="leftimg"> <%= image_tag(product.image_url) %></p>
          <h3><%= product.title %></h3>
          <%= sanitize(product.description) %>
          <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to 'В Корзину', line_items_path(product_id: product), remote: true %>
      </div>
    </div>
        <% end %>
    <% end %>
<% end %>