
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>




<div id="store_content">

<h4 >Все торты:</h4>


   <% @products.each do |product| %>


         <div class="product_container">



               <div class="product_image_content"> <%= image_tag product.product_image.to_s  %></div>




           <div class="short_bod"> <%= image_tag "sep.png"%></div>
           <h5 class="product_title_style"><%=link_to product.title , product_path(product.id)  %></h5>
          </div>


<% end %>
</div>

   <%= will_paginate @products,previous_label: h("<"), next_label: h(">") %>


