<div id="footer">
 <%= image_tag "shaboo.jpg", class: "shaboo_img_footer"%>
  <ul id="footer_menu">
    <li><%= link_to "Контакты", products_path%></li>
    <li><%= link_to "Галлерея", products_path%></li>
    <li><%= link_to "Цены", products_path%></li>
    <li><%= link_to "О нас", products_path%></li>
    <li><%= link_to "Начинки", stuffing_cakes_path%></li>
    <li><%= link_to "Торты", products_path%></li>
  </ul>



  <div id="line_footer">
    <p id="copyright"> © 2015 Ivan Marangoz</p>
    <h5 id="phone_footer">(+373) 937 99 92</h5>
  </div>

</div>