<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body>

   <div id="banner">
     <%= render :partial => 'store/header'%>
   </div>




 <div id="main_content">

   <div id="yield_content">

     <div id="main_menu">


       <ul>
         <li id="home_button"><a href="#">Главная</a></li>
       </ul>

       <ul>
         <li>Торты</li>
         <li>Начинки</li>
         <li>Цкны</li>
         <li>О нас</li>
         <li>Галлерея</li>
         <li>Контакты</li>
       </ul>
     </div>


     <%= yield %>
   </div>
 </div>

   <%= render 'layouts/footer' %>


</body>
</html>
