<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body class="<%=controller.controller_name%>">

   <div id="banner">
     <div id="polosa"></div>
     <%= render :partial => 'store/header'%>
   </div>


 <div id="columns">
   <div id="side">
     <h3>Категории</h3>
     <ul class="side-nav">
       <li role="menuitem"><%= link_to "Home", store_path%></li>
       <li role="menuitem"><%= link_to 'Orders', orders_path %></li>
       <li role="menuitem"><a href="http://www..../news">News</a></li>
       <li role="menuitem"><a href="http://www..../contact">Contact</a></li>
     </ul>

     <% if session[:user_id] %>
         <ul class="side-nav">
           <li><%= link_to 'Orders', orders_path %></li>
           <li><%= link_to 'Products', products_path %></li>
           <li><%= link_to 'Users', users_path %></li>
           <li><%= link_to 'who bought', products_who_bought_path %></li>
         </ul>
         <%= button_to 'Logout', logout_path, method: :delete %>
     <% end %>

     <div id="cart">
       <% if @cart %>
         <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
           <%= render @cart %>
         <% end %>
       <% end %>
     </div>
   </div>
   <div id="main">
     <%= yield %>

   </div>
 </div>

   <%= render 'layouts/footer' %>


</body>
</html>
