<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Shaboo" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body>

 <% if session[:user_id] %>
 <div class="admin_controller">
   <ul>
     <li><%=link_to "Добавить продукт", products_path%></li>
     <li><%=link_to "Пользватели", users_path%></li>
     <li><%=link_to "Категории", categories_path%></li>
   </ul>
 </div>
 <%end %>


   <div id="banner">
     <%= render :partial => 'store/header'%>
   </div>




 <%=render("layouts/main_menu_lenta")%>






   <div id="yield_content">
     <%= yield %>




   </div>
   <div style="clear: both"></div>




</body>
</html>
