<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Shaboo" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body>

  <%= render("layouts/admin_menu")%>



     <%= render :partial => 'layouts/header'%>





 <%=render("layouts/main_menu_lenta")%>






   <div id="yield_content">
     <%= yield %>




   </div>
   <div style="clear: both"></div>




</body>
</html>
